<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentTest</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.PaymentTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.AdminPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>com.mycompany.smartparkingmanagement.servlets.VerifyOTP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentTest</servlet-name>
        <url-pattern>/PaymentTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/AdminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404_page.jsp</location>
    </error-page>
</web-app>
